@import '../../scss/variables';

.#{$alias}-pagination {
  $button-background-color: #fff;

  display: block;
  user-select: none;

  &__container {
    padding: 0;
    display: inline-block;
  }

  &__list {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  &__list-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    & + .#{$alias}-pagination__list-item {
      margin-left: 0.1875rem;
    }

    a {
      cursor: pointer;
      color: $color-text-1;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
      display: block;
      padding: 0.3125rem 0.5rem;
      min-width: 2rem;
      text-align: center;
      border: solid 1px transparent;
      position: relative;
      border-color: $color-text-2;
      border-radius: 0.25rem;
      transition-property: box-shadow, background, border-color;
      transition-duration: $transition-fastest;

      &:hover,
      &:focus {
        &:not([disabled]) {
          box-shadow: 0 0 0 0.1875rem rgba($color-text-2, 0.4);
        }
      }
    }

    &--disabled {
      @include stateDisabled;
    }

    &.jump,
    &.prev,
    &.next {
      a,
      a:focus,
      a:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
      }
    }

    &.prev,
    &.next {
      a {
        border-color: transparent;
        min-width: 0;

        &:focus,
        &:hover {
          background-color: transparent;
        }
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &.prev {
      a {
        padding-left: 18px;
        padding-right: 10px;
      }

      .control-icon {
        left: 2px;
      }
    }

    &.next {
      a {
        padding-left: 10px;
        padding-right: 18px;
      }

      .control-icon {
        right: 2px;
      }
    }

    .control-icon {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 9px;
    }

    &.current {
      a {
        color: $color-primary-contrast;
        background: $color-primary-light;
        border-color: $color-primary-light;

        &:hover,
        &:focus {
          &:not([disabled]) {
            border-color: $color-primary-dark;
            box-shadow: 0 0 0 0.1875rem rgba($color-primary-light, 0.4);
          }
        }
      }
    }
  }
}
