@import '../../scss/variables';

.pagination {
  $button-background-color: #fff;

  display: block;
  user-select: none;

  &__container {
    display: inline-block;
    padding: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  &__list-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;

    & + .pagination__list-item {
      margin-left: 0.1875rem;
    }

    button {
      position: relative;
      display: block;
      min-width: 2.1rem;
      padding: 0.3125rem 0.25rem;
      color: $color-text-1;
      font-size: 0.8125rem;
      line-height: 1rem;
      white-space: nowrap;
      text-align: center;
      text-decoration: none;
      background: $button-background-color;
      border: solid 1px transparent;
      border-color: $color-text-2;
      border-radius: 0.25rem;
      outline: none;
      cursor: pointer;
      transition-duration: $transition-fastest;
      transition-property: box-shadow, background, border-color;

      &:hover,
      &:focus {
        &:not([disabled]) {
          box-shadow: 0 0 0 0.1875rem rgba($color-text-2, 0.4);
        }
      }
    }

    [disabled] {
      @include stateDisabled;
    }

    &--prev,
    &--next {
      button,
      button:focus,
      button:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
      }
      button {
        min-width: 0;
        border-color: transparent;

        &:focus,
        &:hover {
          background-color: transparent;
        }
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &--current {
      button {
        color: $color-primary-contrast;
        background: $color-primary-light;
        border-color: $color-primary-light;

        &:hover,
        &:focus {
          &:not([disabled]) {
            border-color: $color-primary-dark;
            box-shadow: 0 0 0 0.1875rem rgba($color-primary-light, 0.4);
          }
        }
      }
    }

    &--jump {
      button,
      button:focus,
      button:hover {
        &:not([disabled]) {
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}
