@import '../../scss/styles';

.#{$namespace}-input {
  $min-width: 60px;

  @include reset;
  display: block;
  min-width: 60px;

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    color: $color-text-2;
    font-size: 0.75rem;
  }

  label {
    display: block;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem 0.625rem;
    color: $color-text-1;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: transparent;
    border: solid 1px $color-text-2;
    border-radius: $border-radius;
    outline: none;
    transition-duration: $transition-fastest;
    transition-property: box-shadow;

    &:focus,
    &:active {
      border-color: $color-primary-light;
      box-shadow: 0 0 0 0.1875rem rgba($color-primary-light, 0.4);
    }
  }

  textarea {
    font-family: inherit;
    resize: none;
  }

  &--disabled {
    @include stateDisabled;
    pointer-events: none;

    input {
      background-color: rgba(#000, 0.15);
    }
  }
}
