@import '../../scss/variables';

.#{$alias}-input {
  $min-width: 60px;

  @include reset;
  display: block;
  min-width: 60px;

  &--disabled {
    @include stateDisabled;
  }

  &__label {
    color: $color-text-2;
    font-size: 0.75rem;
    display: block;
    margin-bottom: 0.5rem;
  }

  label {
    display: block;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    color: $color-text-1;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: transparent;
    padding: 0.5rem 0.625rem;
    border: solid 1px $color-text-2;
    border-radius: $border-radius;
    transition-property: box-shadow;
    transition-duration: $transition-fastest;
    outline: none;

    &:focus,
    &:active {
      border-color: $color-primary-light;
      box-shadow: 0 0 0 0.1875rem rgba($color-primary-light, 0.4);
    }
  }

  textarea {
    font-family: inherit;
    resize: none;
  }
}
