@import '../../scss/styles';

.#{$namespace}-button {
  $button-background-color: #fff;

  @include reset;
  display: inline-block;
  min-width: 80px;
  margin-right: 6px;
  margin-bottom: 4px;
  padding: calc(#{$padding} / 2.2) $padding;
  color: $color-text-1;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: $button-background-color;
  border: solid 1px $color-text-2;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  transition-duration: $transition-fastest;
  transition-property: box-shadow, background-color, border-color;

  &[disabled] {
    @include stateDisabled;
    pointer-events: none;
  }

  &--size-xs {
    padding: calc(#{$padding-xs} / 2) $padding-xs;
    font-size: 0.6875rem;
  }

  &--size-s {
    padding: calc(#{$padding-s} / 2) $padding-s;
    font-size: 0.75rem;
  }

  &--size-l {
    padding: calc(#{$padding-l} / 2.4) $padding-l;
    font-size: 1.1rem;
  }

  &--type-button {
    &:hover,
    &:focus {
      &:not([disabled]) {
        box-shadow: 0 0 0 3px rgba($color-text-2, 0.4);
      }
    }

    &:active {
      background: darken($button-background-color, 20%);
      box-shadow: 0 0 0 4px rgba($color-text-2, 0.4);
    }
  }

  &--type-primary {
    color: $color-primary-contrast;
    background: $color-primary-light;
    border-color: $color-primary;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: $color-primary-dark;
        box-shadow: 0 0 0 3px rgba($color-primary-light, 0.4);
      }
    }

    &:active {
      background: darken($color-primary-light, 20%);
      box-shadow: 0 0 0 4px rgba($color-primary-light, 0.4);
    }
  }

  &--type-secondary {
    color: $color-accent-contrast;
    background: $color-accent-light;
    border-color: $color-accent;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: $color-accent-dark;
        box-shadow: 0 0 0 3px rgba($color-accent-light, 0.4);
      }
    }

    &:active {
      background: darken($color-accent-light, 20%);
      box-shadow: 0 0 0 4px rgba($color-accent-light, 0.4);
    }
  }
}
