@import '../../scss/styles';

.#{$namespace}-button {
  $button-background-color: #fff;

  @include reset;

  font-size: 0.8 5rem;
  line-height: 1.25rem;
  display: inline-block;
  cursor: pointer;
  color: $color-text-1;
  background-color: #fff;
  padding: 0.3125rem 1rem;
  border: solid 1px $color-text-2;
  border-radius: 0.25rem;
  transition-property: box-shadow, background-color, border-color;
  transition-duration: $transition-fastest;
  background: $button-background-color;
  margin-right: 0.375rem;
  outline: none;

  &[disabled] {
    @include stateDisabled;
    pointer-events: none;
  }

  &--size-xs {
    font-size: 0.6875rem;
    padding: 0.125rem 0.5rem;
  }

  &--size-s {
    font-size: 0.75rem;
    padding: 0.1875rem 0.75rem;
  }

  &--size-l {
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
  }

  &--type-button {
    &:hover,
    &:focus {
      &:not([disabled]) {
        box-shadow: 0 0 0 0.1875rem rgba($color-text-2, 0.4);
      }
    }

    &:active {
      background: darken($button-background-color, 20%);
      box-shadow: 0 0 0 0.25em rgba($color-text-2, 0.4);
    }
  }

  &--type-primary {
    color: $color-primary-contrast;
    background: $color-primary-light;
    border-color: $color-primary;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: $color-primary-dark;
        box-shadow: 0 0 0 0.1875rem rgba($color-primary-light, 0.4);
      }
    }

    &:active {
      background: darken($color-primary-light, 20%);
      box-shadow: 0 0 0 0.25em rgba($color-primary-light, 0.4);
    }
  }

  &--type-secondary {
    color: $color-accent-contrast;
    background: $color-accent-light;
    border-color: $color-accent;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: $color-accent-dark;
        box-shadow: 0 0 0 0.1875rem rgba($color-accent-light, 0.4);
      }
    }

    &:active {
      background: darken($color-accent-light, 20%);
      box-shadow: 0 0 0 0.25em rgba($color-accent-light, 0.4);
    }
  }
}
