@import '../../scss/variables';

.#{$alias}-button {
  $button-background-color: #fff;

  font-size: 0.875rem;
  line-height: 1.25rem;
  display: inline-block;
  cursor: pointer;
  color: $color-primary-light;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: solid 1px rgba($color-primary-light, 0.6);
  border-radius: 0.25rem;
  transition-property: box-shadow, background;
  transition-duration: $transition-fastest;
  background: $button-background-color;
  margin-right: 0.5rem;

  &[disabled] {
    @include stateDisabled;
  }

  &:hover,
  &:focus,
  &:active {
    &:not([disabled]) {
      box-shadow: 0 0 0 0.1875rem rgba($color-primary-light, 0.4);
      & > span {
        color: currentColor;
      }
    }
  }

  &--type-primary {
    color: $color-primary-contrast;
    background: $color-primary;
    border-color: rgba($color-primary-light, 0.6);

    &:hover,
    &:focus,
    &:active {
      &:not([disabled]) {
        border-color: $color-primary-dark;
        box-shadow: 0 0 0 0.1875rem rgba($color-primary-light, 0.4);
      }
    }
  }

  &--type-secondary {
    color: $color-accent-contrast;
    background: $color-accent;
    border-color: rgba($color-accent-light, 0.6);

    &:hover,
    &:focus,
    &:active {
      &:not([disabled]) {
        border-color: $color-accent-dark;
        box-shadow: 0 0 0 0.1875rem rgba($color-accent-light, 0.4);
      }
    }
  }
}
