@import '../../scss/variables';

.#{$namespace}-message-block {
  $color-bar-size: 4px;

  position: relative;
  padding: 8px;
  padding-left: calc(#{$color-bar-size} + 8px);
  font-size: 0.75rem;

  & + & {
    margin-top: 5px;
  }

  &,
  &--type-info {
    background-color: rgba($color-primary-light, 0.2);
  }

  &--type-warning {
    background-color: rgba($color-warning, 0.2);
  }

  &--type-error {
    background-color: rgba($color-error, 0.2);
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    content: '';
  }

  &--type-info::before {
    background-color: $color-primary-light;
  }

  &--type-warning::before {
    background-color: $color-warning;
  }

  &--type-error::before {
    background-color: $color-error;
  }
}
