@import '../../scss/styles';

.#{$namespace}-checkbox {
  $checked-size: 0.875rem;

  @include reset;
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;

  input {
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;

    &:checked + .#{$namespace}-checkbox__ui::before {
      display: block;
    }

    &:focus + .#{$namespace}-checkbox__ui {
      box-shadow: 0 0 0 0.1875rem rgba($color-text-2, 0.4);
    }
  }

  &__container {
    display: flex;
    padding: 0.375rem 0 0;

    &:hover .#{$namespace}-checkbox__ui {
      box-shadow: 0 0 0 0.1875rem rgba($color-text-2, 0.4);
    }
  }

  &__ui {
    position: relative;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    border: solid 1px $color-text-2;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-duration: $transition-fastest;
    transition-property: box-shadow;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      width: $checked-size;
      height: $checked-size;
      margin-top: -($checked-size / 2);
      margin-left: -($checked-size / 2);
      background-color: $color-text-2;
      content: '';
      -webkit-mask-image: url('./svg/check.svg');
      mask-image: url('./svg/check.svg');
      mask-size: 0.875rem;
      mask-repeat: no-repeat;
      -webkit-mask-size: 0.875rem;
      -webkit-mask-repeat: no-repeat;
    }
  }

  &__label {
    display: inline-block;
    flex: 1;
    padding: 0 1rem 0 0.5rem;
  }

  &--disabled {
    @include stateDisabled;
    pointer-events: none;
  }
}
