@import '../../scss/styles';

.#{$namespace}-checkbox {
  $box-size: 20px;
  $checked-size: 16px;

  @include reset;

  label {
    position: relative;
    display: inline-flex;
    padding: calc(#{$padding} / 3) $padding calc(#{$padding} / 3) 0;

    &:hover + .#{$namespace}-checkbox__ui {
      box-shadow: 0 0 0 3px rgba($color-text-2, 0.4);
    }
  }

  input {
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;

    &:checked + .#{$namespace}-checkbox__ui::before {
      display: block;
    }

    &:focus + .#{$namespace}-checkbox__ui {
      box-shadow: 0 0 0 3px rgba($color-text-2, 0.4);
    }
  }

  &__ui {
    position: relative;
    display: inline-block;
    width: $box-size;
    height: $box-size;
    vertical-align: middle;
    border: solid 1px $color-text-2;
    border-radius: $border-radius;
    cursor: pointer;
    transition-duration: $transition-fastest;
    transition-property: box-shadow;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      width: $checked-size;
      height: $checked-size;
      background-color: $color-text-2;
      transform: translate(-50%, -50%);
      content: '';
      mask-image: url('./svg/check.svg');
      mask-size: $checked-size;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url('./svg/check.svg');
      -webkit-mask-size: $checked-size;
      -webkit-mask-position: center;
    }
  }

  &__label {
    display: inline-block;
    flex: 1;
    padding: 0 0 0 calc(#{$padding} / 1.5);
  }

  &--disabled {
    @include stateDisabled;
    pointer-events: none;
  }
}
