@import '../../scss/variables';

.#{$alias}-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  thead,
  tbody {
    border-bottom: solid 1px currentColor;
  }

  th,
  td {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: inherit;
    padding: 0.5rem 1rem;
  }
}
