// The prefix for every component
$namespace: 'starter';

// Media queries breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Colors
// Palette from Material
// URL: https://material.io/tools/color/#!/
// Light Blue + Blue Grey
$color-background: #fff;
$color-text: #000;
$color-text-1: #262626;
$color-text-2: #616161;
$color-primary: #01579b;
$color-primary-light: #4f83cc;
$color-primary-dark: #002f6c;
$color-primary-contrast: #fff;
$color-accent: #263238;
$color-accent-light: #4f5b62;
$color-accent-dark: #000a12;
$color-accent-contrast: #fff;
$color-warning: #fbc02d;
$color-error: #e53935;

// Transition
$transition: 0.5s;
$transition-faster: 0.25s;
$transition-fastest: 0.15s;
$transition-slower: 0.7s;
$transition-slowest: 0.85s;

// Border
$border-radius: 4px;

// Fonts
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  'Segoe UI',
  // Android
  'Roboto',
  // Basic web fallback
  'Helvetica Neue',
  Arial, sans-serif,
  // Emoji fonts
  'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;
