// The prefix for every component
$alias: 'starter';


// Media queries breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Colors
// Palette from Material
// URL: https://material.io/tools/color/#!/
$color-text: #000;
$color-text-1: #262626;
$color-text-2: #707070;
$color-primary: #01579b;
$color-primary-light: #4f83cc;
$color-primary-dark: #002f6c;
$color-primary-contrast: #fff;
$color-accent: #ffb300;
$color-accent-light: #ffe54c;
$color-accent-dark: #c68400;
$color-accent-contrast: #000;

// Transition
$transition: .5s;
$transition-faster: .25s;
$transition-fastest: .15s;
$transition-slower: .7s;
$transition-slowest: .85s;

// State
@mixin stateDisabled {
  opacity: 0.5;
}
