@import 'variables';
@import 'mixins';

// Basic Reset
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  @include reset;
  margin: 0;
  padding: 0;
}
