@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import 'variables';
@import 'mixins';

:root {
  --color-background: #{$color-background};
  --color-text: #{$color-text};
  --color-text-1: #{$color-text-1};
  --color-text-2: #{$color-text-2};
  --color-primary: #{$color-primary};
  --color-primary-light: #{$color-primary-light};
  --color-primary-dar: #{$color-primary-dark};
  --color-primary-contrast: #{$color-primary-contrast};
  --color-accent: #{$color-accent};
  --color-accent-light: #{$color-accent-light};
  --color-accent-dar: #{$color-accent-dark};
  --color-accent-contrast: #{$color-accent-contrast};
  --color-warning: #{$color-warning};
  --color-error: #{$color-error};
}

// Basic Reset
html {
  box-sizing: border-box;
  font-size: $font-size;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

label,
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
